<header>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink='/home'>
          <img src='assets/images/banner.jpg' alt="" />&nbsp;Movies Media
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="me-auto"></div>
          <div class="navbar-nav">
              <a class='nav-item active' routerLink='/home'>
                <li class="nav-link">Home</li>
              </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>